.container {
    background-color: var(--bg-color);
    width: 100vw;
    height: 100vh;
}

.footer {
    text-align: center;
    font-size: 14px;
    height: 10px;
}

.footer a {
    color: blue;
}

.footer a:hover {
    text-decoration-line: underline;
    -moz-text-decoration-line: underline;
}